body {
    background-color: rgb(250, 250, 250);
}

#right-panel {
    width: 25%;
    margin-bottom: 2%;
}

#left-panel {
    width: 34%;
    background-color: whitesmoke;
    overflow: scroll;
    -webkit-animation: slideFromLeft 0.5s ease-out; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.8s; /* Safari 4.0 - 8.0 */
    animation: slideFromLeft 0.5s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

#center-panel {
    width: 41%;
    z-index: 0;
    -webkit-animation: slideFromBottom 2s ease-out, statFadeIn 0.5s linear; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation: slideFromBottom 2s ease-out, statFadeIn 0.5s linear;
    animation-delay: 0.2s, 4.5s;
    animation-fill-mode: both;
}

#center-row {
    height: 90%;
    width: 100%;
}

#bottom-row {
    height: 10%;
    background-color: rgb(250, 250, 250);
    z-index: 1;
    border-top: 2px solid whitesmoke;
}

#chosen-list {
    margin-top: 5%;
    margin-left: 5%;
    height: 100%;
    width: 100%;
    overflow: scroll;
    max-height: 95%;
}

#done-button {
    margin-right: 3%;
}

#total-price {
    margin-right: 1%;
}

#stat-height, #stat-emotional, #stat-intelligence, #stat-weight, #stat-life {
    -webkit-animation: statFadeIn 0.5s linear;
    -webkit-animation-fill-mode: both;
    animation: statFadeIn 0.5s linear;
    animation-fill-mode: both;
}

#stat-intelligence {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

#stat-height {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#stat-weight {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

#stat-emotional {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
}

#stat-life {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

.graph {
    width: 55%;
    margin-top: 5%;
    fill: rgb(250, 250, 250);
    stroke: #000000;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 1000;
}

.stat-holder {
    width: 100%;
    height: 100%;
}

.stat-info {
    margin-top: 0;
    color: rgb(250, 250, 250);
}

.stat-value {
    margin-top: 0;
    margin-bottom: 0;
}

.anim-container {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
    z-index: 10;
}

.full-row {
    width: 100% !important;
}

.topic {
    color: whitesmoke;
    border-radius: 0;
    margin: 1px 0;
    min-height: 7%;
    padding-left: 5%;
    text-align: left;
}

.cover {
    height: 100%;
    min-height: 0;
}

.collapsible.ng-hide {
    max-height: 0;
}

.collapsible.ng-hide-add,
.collapsible.ng-hide-remove {
    transition: all linear 0.5s;
}

.collapsible {
    max-height: 100%;
}

.check-mark {
    float: right;
    margin-right: 5px;
}

.footer-save-space {
    min-height: 25px;
}

.coded-trait {
    min-width: 50%;
    margin-bottom: 0.4%;
    max-width: 50%;
}

.trait-list {
    width: 30%;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0.5%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trait-checkbox {
    width: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.trait-card {
    width: 100%;
    margin: 1px 0;
}

.trait-title {
    margin: 2.5% 0;
}

.trait-company {
    margin-bottom: 2%;
}

.trait-sale-price {
    margin: 5% 7%;
}

.trait-price {
    margin: 0 7%;
    color: darkgrey;
}

.trait-list-button {
    min-width: 5%;
    height: 100%;
    margin-bottom: 1%;
}

/*md-dialog {*/
    /*max-width: 45%;*/
/*}*/

.fadeInOut.ng-enter,
.fadeInOut.ng-leave {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.fadeInOut.ng-enter,
.fadeInOut.ng-leave.ng-leave-active {
    max-height: 0;
    opacity: 0;
}

.fadeInOut.ng-leave,
.fadeInOut.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 100%;
}

.stat-indicator {
    -webkit-transition: stroke-dashoffset 0.3s ease-in-out;
    -webkit-transition-delay: 0.2s;
    transition: stroke-dashoffset 0.3s ease-in-out;
    transition-delay: 0.2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideFromBottom {
    0% {
        transform: translate(0, 110%);
    }

    30% {
        transform: translate(0, 0);
    }

    100% {
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translate(0, 110%);
    }

    15% {
        transform: translate(0, 0);
    }

    100% {
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideFromLeft {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes statFadeIn {
    0% {
        color: rgb(250, 250, 250);
    }

    100% {
        color: black;
    }
}