#right-panel {
    width: 34%;
    background-color: whitesmoke;
    overflow: scroll;
}

.topic {
    color: whitesmoke;
    border-radius: 0;
    margin: 1px 0;
    height: 7%;
    padding-left: 10%;
    text-align: left;
}