{% load static %}
{# start animations #}
<div class="lottie anim-container" data-animation-path="{% static 'main/pre_intro_start' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="pre_intro_start"
     data-anim-autoplay="false"
     ng-show="ctrl.showPreIntroStart && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/pre_intro_waiting' %}"
     data-anim-type="svg"
     data-anim-loop="true"
     data-name="pre_intro_waiting"
     data-anim-autoplay="false"
     ng-show="ctrl.showPreIntroWait && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
     ng-click="ctrl.clickOnWaitingAnimation()"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/start_anim' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="intro"
     data-anim-autoplay="false"
     ng-show="ctrl.showIntroFinal && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
{# instructions animations #}
<div class="lottie anim-container" data-animation-path="{% static 'main/instruction_sample' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="instruction_sample"
     data-anim-autoplay="false"
     ng-show="ctrl.showInstructionsSample && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/instruction_sample_wait' %}"
     data-anim-type="svg"
     data-anim-loop="true"
     data-name="instruction_sample_wait"
     data-anim-autoplay="false"
     ng-show="ctrl.showInstructionsSampleWait && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/instruction_tube' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="instruction_tube"
     data-anim-autoplay="false"
     ng-show="ctrl.showInstructionsTube && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/instruction_tube_wait' %}"
     data-anim-type="svg"
     data-anim-loop="true"
     data-name="instruction_tube_wait"
     data-anim-autoplay="false"
     ng-show="ctrl.showInstructionsTubeWait && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/instruction_over' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="instruction_over"
     data-anim-autoplay="false"
     ng-show="ctrl.showInstructionsOver && ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
{# done animations #}
<div class="lottie anim-container" data-animation-path="{% static 'main/load_anim' %}"
     data-anim-type="svg"
     data-anim-loop="true"
     data-name="loading"
     data-anim-autoplay="false"
     ng-show="ctrl.showLoadingAnim"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/done_load' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="done"
     data-anim-autoplay="false"
     ng-show="ctrl.showDoneAnimation"
     ng-click="ctrl.clickReloadIfAllowed()"
>
</div>
<div ng-click="ctrl.skipIntroAnimations()"
     ng-show="ctrl.showSkip" id="skip">
</div>