{% load static %}
<div class="lottie collapsible anim-container" data-animation-path="{% static 'main/start_anim' %}"
     data-anim-type="svg"
     data-anim-loop="false"
     data-name="intro"
     data-anim-autoplay="false"
     ng-show="ctrl.showIntroAnim && !ctrl.skipIntroAnimation"
>
</div>
<div class="lottie anim-container" data-animation-path="{% static 'main/load_anim' %}"
     data-anim-type="svg"
     data-anim-loop="true"
     data-name="loading"
     data-anim-autoplay="false"
     ng-show="ctrl.showLoadingAnim"
>
</div>