<div id="chosen-list">
    <div ng-repeat="trait in ctrl.chosenTraits"
         ng-click="ctrl.showTraitDialog(trait)" layout="row"
         layout-align="start center" class="fadeInOut">
        {% verbatim %}
        <div class="trait-list-button" layout="column" layout-align="center center">
            <md-icon md-svg-src="/static/main/clear.svg" aria-label="clear"
            ng-show="trait.title !== ''"></md-icon>
        </div>
        <img class="coded-trait" ng-attr-src="{{ ctrl.segmentAnimations[$index] }}">
        <h3 class="trait-list">
            {{ ctrl.presentableTrait(trait.title) }}
        </h3>
        {% endverbatim %}
    </div>
</div>