{% extends 'main/base.html' %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'main/interface.css' %}">
    <div layout="column" class="full-row">
        <div id="center-row" class="full-row" layout="row">
            <div id="left-panel" layout="column">
                    <div class="fetus-logo">
        <object type="image/svg+xml" data="{% static 'main/fetus.svg' %}" class="fetus-inner animated infinite pulse"
                id="fetus"></object>
        <object type="image/svg+xml" data="{% static 'main/womb.svg' %}" class="fetus-inner"></object>
    </div>
            </div>
            <div id="right-panel" layout="column">
                {% for topic in topics %}
                    <md-button class="topic md-raised"
                               ng-click="open_topics['{{ topic }}'] = !open_topics['{{ topic }}']">
                        {{ topic.name }}
                    </md-button>
                    <div class="collapsible" ng-show="open_topics['{{ topic }}']">
                        {% for trait in topic.trait_set.all %}
                            <div>
                                <md-card>
                                    <md-card-title>{{ trait.title }}</md-card-title>
                                    <md-card-content>
                                        {{ trait.description }}
                                        <br/>
                                        {{ trait.price }}
                                        {% if trait.sale_price %}
                                            now for {{ trait.sale_price }}
                                        {% endif %}
                                    </md-card-content>
                                    {% if trait.sale %}
                                        <md-card-footer>
                                            {{ trait.sale }} {{ trait.company }}
                                        </md-card-footer>
                                    {% endif %}
                                </md-card>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <md-button class="topic cover md-raised">
                </md-button>
            </div>
        </div>
        <div id="bottom-row" class="full-row" layout="row">
        </div>
    </div>

{% endblock %}