{% load static %}
<div class="stat-holder" layout="column" layout-align="center center">
    {% include 'main/graph_template.html' with stat="intelligence" anim_id="graph_0" point_id="point_0" loc="-{{ ctrl.getLocForStat('intelligence')}}%" draw_delay="0.5s" point_delay="1s" d="M0,99.7c26.6,0,65.5-4.3,100.1-28.6c44.1-31,47.7-64.8,74-64.8c37.5,0,53.2,55.1,114.4,61.8c11.3,1.2,11.2-0.9,27.1,0.5 c37.1,3.2,37,31.2,84.4,31.2" %}
    {% verbatim %}
    <div layout="column" class="stat-info" layout-align="center center">
        <div layout="row" layout-align="center center" ng-if="ctrl.stats['intelligence']['positive']">
            Smarter then
        </div>
        <div layout="row" layout-align="center center" ng-if="!ctrl.stats['intelligence']['positive']">
            Less smart then
        </div>
        <h2 class="stat-value" layout="row">
            {{ ctrl.stats['intelligence']['value'] }}%
        </h2>
        <div layout="row" layout-align="center center">
            of the population.
        </div>
    </div>
    {% endverbatim %}
</div>
<div class="stat-holder" layout="column" layout-align="center center">
    {% include 'main/graph_template.html' with stat="height" anim_id="graph_1" loc="-{{ ctrl.getLocForStat('height')}}%" draw_delay="graph_0.begin + 0.2s" point_delay="point_0.begin + 0.3" d="M0,100.1c26.6,0,43.8-27.6,72.5-56.3C110.2,6.1,123.6,1.7,151.6,0C192.6-2.5,303.2,62.1,267,42.8l0,0 c20.8,10.3,37.2,19.5,48.6,26.2c22,12.9,32.9,20.8,52.2,26.2c13.2,3.7,24.6,4.7,32.2,4.9" %}
    {% verbatim %}
    <div layout="column" class="stat-info" layout-align="center center">
        <h2 class="stat-value" layout="row">
            {{ ctrl.stats['height']['value'] }}cm
        </h2>
        <div layout="row" layout-align="center center">
            Height Potential
        </div>
    </div>
    {% endverbatim %}
</div>
<div class="stat-holder" layout="column" layout-align="center center">
    {% include 'main/graph_template.html' with stat="weight" anim_id="graph_2" loc="-{{ ctrl.getLocForStat('weight')}}%" draw_delay="graph_0.begin + 0.4s" point_delay="point_0.begin + 0.6" d="M0,100C181.3,100,139.9,0,199.6,0S239,100,400,100" %}
    {% verbatim %}
    <div layout="column" class="stat-info" layout-align="center center">
        <div layout="row" layout-align="center center">
            Likely to Weigh
        </div>
        <h2 class="stat-value" layout="row">
            {{ ctrl.stats['weight']['value'] }}%
        </h2>
        <div layout="row" layout-align="center center" ng-if="ctrl.stats['weight']['positive']">
            More then the average.
        </div>
        <div layout="row" layout-align="center center" ng-if="!ctrl.stats['weight']['positive']">
            Less then the average.
        </div>
    </div>
    {% endverbatim %}
</div>
<div class="stat-holder" layout="column" layout-align="center center">
    {% include 'main/graph_template.html' with stat="emotional" anim_id="graph_3" loc="-{{ ctrl.getLocForStat('emotional')}}%" draw_delay="graph_0.begin + 0.6s" point_delay="point_0.begin + 0.9" d="M0,100.1c26.6,0,65.5-4.3,100.1-28.6c44.1-31,70.1-42,98.1-43.7c7.9-0.5,17.6,0.7,17.6,0.7c23,1.8,41.4,6.6,53.6,10.5 c11.7,3.3,23.4,6.6,35.1,9.9c13.3,3.1,30.4,8.5,49,18.2c20.6,10.7,36,23.1,46.5,33" %}
    {% verbatim %}
    <div layout="column" class="stat-info" layout-align="center center">
        <div layout="row" layout-align="center center" ng-if="ctrl.stats['emotional']['positive']">
            Higher emotional intelligence then
        </div>
        <div layout="row" layout-align="center center" ng-if="!ctrl.stats['emotional']['positive']">
            Lower emotional intelligence then
        </div>
        <h2 class="stat-value" layout="row">
            {{ ctrl.stats['emotional']['value'] }}%
        </h2>
        <div layout="row" layout-align="center center">
            of the population.
        </div>
    </div>
    {% endverbatim %}
</div>
<div class="stat-holder" layout="column" layout-align="center center">
    {% include 'main/graph_template.html' with stat="life_expectancy" anim_id="graph_4" loc="-{{ ctrl.getLocForStat('life_expectancy')}}%" draw_delay="graph_0.begin + 0.8s" point_delay="point_0.begin + 1.2" d="M0,100.1c51.6,0,64.6-85.9,92.7-85.9c44.3,0,149.5,85.9,307.2,85.9" %}
    {% verbatim %}
    <div layout="column" class="stat-info" layout-align="center center">
        <h2 class="stat-value" layout="row">
            {{ ctrl.stats['life_expectancy']['value'] }} years.
        </h2>
        <div layout="row" layout-align="center center">
            Life Expectancy
        </div>
    </div>
    {% endverbatim %}
</div>