{% load static %}
<div class="stat-holder" layout="row" layout-align="center center">
    <svg class="graph">
        {% include 'main/graphs/graph_0.svg' %}
    </svg>
</div>
<div class="stat-holder" layout="row" layout-align="center center">
    <svg class="graph">
        {% include 'main/graphs/graph_1.svg' %}
    </svg>
</div>
<div class="stat-holder" layout="row" layout-align="center center">
    <svg class="graph">
        {% include 'main/graphs/graph_2.svg' %}
    </svg>
</div>
<div class="stat-holder" layout="row" layout-align="center center">
    <svg class="graph">
        {% include 'main/graphs/graph_3.svg' %}
    </svg>
</div>
<div class="stat-holder" layout="row" layout-align="center center">
    <svg class="graph">
        {% include 'main/graphs/graph_4.svg' %}
    </svg>
</div>