{% load humanize %}
{% for topic in topics %}
    <md-button class="topic md-raised"
               ng-click="open_topics['{{ topic }}'] = !open_topics['{{ topic }}']">
        {{ topic.name }}
    </md-button>
    <div class="collapsible" ng-show="open_topics['{{ topic }}']">
        {% for trait in topic.trait_set.all %}
            <div layout="row" layout-align="center center" style="width: 100%">
                <md-card class="trait-card" layout="row"
                         ng-click="ctrl.toggleTrait('{{ trait.title }}', {{ trait.price }},
                                        {{ trait.sale_price }}, '{{ trait.effect }}', {{ trait.effect_val }},
                                        {{ trait.effect_absolute|yesno:"true,false" }}, '{{ trait.company }}')">
                    <div class="trait-checkbox" layout="column" layout-align="center center">
                        <md-checkbox ng-checked="ctrl.isTraitChosen('{{ trait.title }}')" style="margin-bottom: 0;">
                        </md-checkbox>
                    </div>
                    <div layout="column" style="width: 95%;">
                        <h3 class="trait-title">{{ trait.title }}</h3>
                        <div class="trait-company">
                            By {{ trait.company }}
                        </div>
                        {% if trait.price != trait.sale_price %}

                        {% endif %}
                    </div>
                    <div layout="column" layout-align="end end">
                        {% if trait.price != trait.sale_price %}
                            <div class="trait-price">
                                {{ trait.price|intcomma }}
                            </div>
                        {% endif %}
                        <h4 class="trait-sale-price">
                            {{ trait.sale_price|intcomma }}
                        </h4>
                    </div>
                </md-card>
            </div>
        {% endfor %}
    </div>
{% endfor %}
<md-button class="topic cover md-raised">
</md-button>